@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Nunito";
}
body{
    width: 100vw;
}
.container{
    height: 100vh;
    width: 100%;
}

.containerHeader {
    position: fixed;
    top:0;
    width: 100%;
    height: 90px;
    background-color: aqua;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    color: black;
    padding-right: 100px;
    box-shadow: 0px 15px 15px -3px rgba(160, 160, 160, 0.75)  ;
}
.imgPrincipal {
    filter: drop-shadow(2px 5px 20px #4c456d);
    transition-duration: 0.6s;
}
.imgPrincipal:hover{
    transform: scale(1.2);
    transition-duration: 0.6s;
}

.caja{
    font-size: 20px;
    padding: 15px;
    padding-right: 20px;
}
.cajaloquehago{
    font-size: 20px;
    padding: 12px;
    background-color: white;
    margin-top: 100px;
    border-radius: 40px;
    
}
.cajacontacto{
    font-size: 20px;
    padding: 12px;
    background-color: white;
    border-radius: 40px;

}
.botonConEfecto:active {
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px violet;
}
a:active{
    color: violet;
}
a:hover{
    color: violet;
}
.card:hover{
    color: violet;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px violet;
}
.cardProyectos:hover{
    color: violet;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px violet;
}
.containerCaratula{
    width: 100%;
    height: 600px;
    background-color:violet;
    padding-left: 10%;
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.imagen1{
    padding-left: 200px;
}
.misConocimientos{
    width: 100%;
    /*height: 1000px;*/
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px;
}
.proyectos{
    width: 100%;
    /*height: 1000px;*/
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px;
}
/*.paddingTitulos{
    padding-top: 50px;
    padding-left: 400px;
}
.loremConocimientos{
    padding-left: 200px;
    padding-bottom: 70px;*/

.contenedorCards{
    width: 1000px;
    height: 600px;
    background-color: yellow;
    /*margin-left: 185px;*/
    margin-top: 70px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
}
.card{
    height: 225px;
    width: 260px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
i{
    font-size: 80px;
    padding-left: 95px;
    padding-top: 40px;
}
h4{
    text-align: center;
    padding-top: 40px;
    font-family: cursive;
    font-size: 20px;
} 
.html{
    color: orange;
}
.css{
    color: blue;
}
.sass{
    color: violet;
}
.JS{
    color: yellow;
}
.REACT{
    color: darkcyan;
}
.GIT{
    color: orange;
}
.citaContainer{
    height: 400px;
    width: 100%;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
/*.cita{
    
}*/
.lorem1{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 100px;

}
.iconoCita{
    padding-right: 100px;
    padding-bottom: 10px;
}
h1 {
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    }
h2{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    font-size: 25px;
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: black;
}
.tituloProyectos{
    text-align: center;
}
.loremProyectos{
    text-align: center;
    padding-bottom: 70px;
}

.proyectosContainer{
    width: 1100px;
    height: 1100px;
    background-color: yellow;
    /*margin-left: 130px;
    /*margin-top: 70px;*/
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cardProyectos{
    height: 300px;
    width: 300px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.imgcards{
    height: 290px;
    width: 290px;
    padding-top: 120px;
}
.h4proyectos{
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    padding-bottom: 120px;
} 