@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Nunito";
}
/*background-color: rgb(87, 87, 179);*/
:root{
    scroll-behavior: smooth;
}
body{
    width: 100vw;
}
.container{
    height: 100vh;
    width: 100%;
}
/* HEADER */
.containerHeader {
    position: fixed;
    top:0;
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    color: black;
    padding-right: 100px;
    box-shadow: 0px 15px 15px -3px rgba(160, 160, 160, 0.75)  ;
    z-index: 1;
}
.caja{
    font-size: 20px;
    padding: 15px;
    padding-right: 20px;
}
.cajacontacto{
    font-size: 20px;
    padding: 12px;
    border: 2px solid violet;
    border-radius: 40px;

}
.botonConEfecto:active {
    padding: 5px;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px violet;
}

a:active{
    color: violet;
}
a:hover{
    color: violet;
}


/* MAIN */

.containerCaratula{
    width: 100%;
    height: 600px;
    background-color:violet;
    padding-left: 10%;
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.cajaloquehago{
    font-size: 20px;
    padding: 12px;
    background-color: white;
    margin-top: 100px;
    border-radius: 40px;
}
.sombra{
    filter: drop-shadow(2px 5px 5px #4c456d);
}
.imagen1{
    padding-left: 200px;
}
.imgPrincipal {
    filter: drop-shadow(2px 5px 20px #4c456d);
    transition-duration: 0.6s;
}
.imgPrincipal:hover{
    transform: scale(1.2);
    transition-duration: 0.6s;
}
.botonLoQueHago:active {
    padding: 5px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 5px white;
}

/* SECCIÓN MIS CONOCIMIENTOS */

.misConocimientos{
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px;
}
.contenedorCards{
    width: 85%;
    height: 600px;
    background-color: whitesmoke;
    margin-top: 70px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;   
}
.card{
    height: 225px;
    width: 260px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}
.iCards{
    font-size: 80px;
    padding: 15% ;
}
h4{
    font-size: 20px;
}
.html{
    color: orange;
}
.css{
    color: blue;
}
.sass{
    color: violet;
}
.JS{
    color: yellow;
}
.REACT{
    color: darkcyan;
}
.GIT{
    color: orange;
}

.card:hover{
    color: violet;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px violet;
}


/* CITA */

.citaContainer{
    height: 400px;
    width: 100%;
    background-color: violet;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}
.iconoCita{
    font-size: 100px;
}
.lorem1{
    padding-top: 50px;
}
.iconoCita{
    padding-bottom: 10px;
}

/* SECCIÓN PROYECTOS */

.proyectos{
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px;
}
/* .misConocimientos{
    width: 100%;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px;
}
*/
.proyectosContainer{
    width: 90%;
    height: 1100px;
    background-color: whitesmoke;
    margin-top: 70px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*
.contenedorCards{
    width: 85%;
    height: 600px;
    background-color: yellow;
    margin-top: 70px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;   
}*/
.cardProyectos{
    height: 30%;
    width: 30%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    /*padding-bottom: 10%;*/
}
/*.card{
    height: 225px;
    width: 260px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}*/
.imgcards{
    height: 245px;
    width: 245px;
    /*padding: 15%;*/
}
/*.iCards{
    font-size: 80px;
    padding: 15% ;
}*/

.cardProyectos:hover{
    color: violet;
    box-shadow: 0px 0px 5px 5px violet;
}

/* GENERALES */
h1 {
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    }
h2{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    font-size: 25px;
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: black;
}

/*CONTACTO */

.contacto{
    width: 100%;
    background-color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorContacto{
    width: 90%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid black;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    margin: 10%;
    padding: 25px;
}
.contenedorContactame{
    width: 50%;
    height: 100%;
    margin: 10px;
    
}
.listaRedes{
    list-style: none;
    margin-right: 30px;
    margin-top: 30px;
    font-size: 20px;
    /*padding-right: 10px;*/
    width: 100%;
    display: flex;
    flex-direction: column;    
}
.estiloIcono{
    color: violet;
    background-color: transparent;
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    
}
.iconoMail{
    width: 385px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.icono{
    width: 230px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.iconoMargin{
    margin-left: 30px;
}
li:hover .estiloIcono{
    background-color: violet;
    color: white;
}
.icono:active{
    box-shadow: -2px -1px 15px 0px violet;
    border-color: 1px violet;
}
.iconoMail:active{
    box-shadow: -2px -1px 15px 0px violet;
    border-color: 1px violet;
}

/* Formulario */

.contenedorEscribime{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;

}
.containerFormulario{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}
.nombre{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px;
}
.apellido{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 10px;
}
.input{
    border-radius: 30px;
    width: 100%;
    padding: 4%;
    margin-top: 2%;
    outline: none;
    border: transparent;
    background-color: gainsboro;
}
.email{
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}
.mensaje{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.inputMail{
    width: 100%;
    border-radius: 30px;
    padding: 2%;
    outline: none;
    border: transparent;
    margin-top: 2%;
    background-color: gainsboro;
}
textarea{
    width: 96%;
    border-radius: 20px;
    padding: 2%;
    font-family: "inconsolata";
    margin-top: 2%;
    outline: none;
    border: transparent;
    background-color: gainsboro;
}
button{
    font-size: 18px;
    width: 120px;
    height: 50px;
    background-color:violet;
    color: white;
    border-radius: 30px;
    border: transparent;
    margin: 10px;
}
.pContactame{
    font-size: 20px;
    width: 90%;
}
button:hover{
    background-color: white;
    color: violet;
}
input:focus{
    box-shadow: -2px -1px 15px 0px violet;
}
textarea:focus{
    box-shadow: -2px -1px 15px 0px violet;
}


/*FOOTER*/
footer{
    height: 300px;
    width: 100%;
    background-color: whitesmoke;    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contenedorFooter{
    height: 75%;
    width: 35%;
    background-color: whitesmoke;
    padding: 20px;
    
}
.ulFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 17px;
    padding: 10px;
}
.iconosFooter{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
}
.paddingFooter{
    padding: 15px;

}
.estiloIconoF{
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: white;
    color: violet;
    padding: 10px;
    
}
.paddingIcono{
    padding: 5px;
}
.p-footer{
    text-align: center;
   /* color: black;*/
    font-size: 20px;
}
.iFooter{
    font-size: 10px;
}
.estiloIconoF:hover{
    background-color: violet;
    color: white;
    border: 1px solid white;
}

/* RESPONSIVE */

@media screen and (max-width:400px){
    body {
        width: 100vw;
    }

    header{
        display: none;
    }

    .containerCaratula{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-right: 10%;
        padding-bottom: 15%;
    }
    .imagen1{
        padding-right: 200px;
    }
    .imgPrincipal{
        height: 230px;
        width: 230px;
        
    }

    /* Mis conocimientos */

    .misConocimientos{
        width: 100%;
        display: flex;
        text-align: center;
        padding: 5%;

    }
    h1{
        font-size: 50px;
    }

    .contenedorCards{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 5%;
        justify-content: space-between;
        
    }
    .card{
        width: 50%;
        height: 25%;
        align-items: center;
        
    }
    .iCards{
        font-size: 70px;
        padding: 15px;
    }
    h4{
        font-size: 20px;
    } 


    /* CITA */
.lorem1{
    padding-top: 20px;
    text-align: center;
}

    /* Proyectos */
.proyectos{
        width: 100%;
        display: flex;
        text-align: center;
        padding: 10%;

}
.proyectosContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: space-evenly;
}
.cardProyectos{
    width: 90%;
    height: 20%;
    align-items: center;
    margin: 5px;
}

.imgcards{
    height: 160px;
    width: 160px;
}

/* CONTACTO */

.contacto{
    width: 100%;
    background-color: whitesmoke;
}
.contenedorContacto{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 1px;
    
}

.contenedorContactame{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
}
.listaRedes{
    align-items: flex-start;
    
}
.contenedorEscribime{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
}
.containerFormulario{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.nombre{
    width: 95%;
}
.apellido{
    width: 95%;
}
.inputMail{
    padding: 4%;
}

/* FOOTER */

.contenedorFooter{
    width: 100%;
    height: 90%;
    padding-top: 10%;
    
}
.ulFooter{
    display: none;
}

}